@keyframes ldio-67ea5ggmnkb {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-67ea5ggmnkb div > div {
  position: absolute;
  width: 12.48px;
  height: 12.48px;
  border-radius: 50%;
  background: #1d0e0b;
  animation: ldio-67ea5ggmnkb 1s linear infinite;
}
.ldio-67ea5ggmnkb div:nth-child(1) > div {
  left: 77px;
  top: 46px;
  animation-delay: -0.875s;
}
.ldio-67ea5ggmnkb > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 83.24000000000001px 52.24px;
}
.ldio-67ea5ggmnkb div:nth-child(2) > div {
  left: 68px;
  top: 68px;
  animation-delay: -0.75s;
}
.ldio-67ea5ggmnkb > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 74.24000000000001px 74.24000000000001px;
}
.ldio-67ea5ggmnkb div:nth-child(3) > div {
  left: 46px;
  top: 77px;
  animation-delay: -0.625s;
}
.ldio-67ea5ggmnkb > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 52.24px 83.24000000000001px;
}
.ldio-67ea5ggmnkb div:nth-child(4) > div {
  left: 24px;
  top: 68px;
  animation-delay: -0.5s;
}
.ldio-67ea5ggmnkb > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 30.240000000000002px 74.24000000000001px;
}
.ldio-67ea5ggmnkb div:nth-child(5) > div {
  left: 15px;
  top: 46px;
  animation-delay: -0.375s;
}
.ldio-67ea5ggmnkb > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 21.240000000000002px 52.24px;
}
.ldio-67ea5ggmnkb div:nth-child(6) > div {
  left: 24px;
  top: 24px;
  animation-delay: -0.25s;
}
.ldio-67ea5ggmnkb > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 30.240000000000002px 30.240000000000002px;
}
.ldio-67ea5ggmnkb div:nth-child(7) > div {
  left: 46px;
  top: 15px;
  animation-delay: -0.125s;
}
.ldio-67ea5ggmnkb > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 52.24px 21.240000000000002px;
}
.ldio-67ea5ggmnkb div:nth-child(8) > div {
  left: 68px;
  top: 24px;
  animation-delay: 0s;
}
.ldio-67ea5ggmnkb > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 74.24000000000001px 30.240000000000002px;
}
.loadingio-spinner-spin-7qyui8kh3gt {
  width: 104px;
  height: 104px;
  display: inline-block;
  overflow: hidden;
}
.ldio-67ea5ggmnkb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-67ea5ggmnkb div {
  box-sizing: content-box;
}
